.search-field {
    width: 370px;

    .MuiOutlinedInput-root {
        background-color: white;
        border-radius: 25px;
    }

    .MuiOutlinedInput-root.Mui-focused fieldset {
        border-color: #26AC42;
    }
}

.profile-cart {
    width: 80px;

    svg {
        font-size: 1.75rem;
    }
}

.logo {
    position: relative;
    height: 50px;

    img {
        height: 100%;
        border-radius: 15px;
    }
}

.header {
    background-color: #283C4F;
}