.search-field {
    width: 370px;

    .MuiOutlinedInput-root {
        background-color: white;
        border-radius: 25px;
    }

    .MuiOutlinedInput-root.Mui-focused fieldset {
        border-color: #26AC42;
    }
}

.profile-cart {
    width: 80px;

    svg {
        font-size: 1.75rem;
    }

    .cart-items-number {
        position: absolute;
        top: 10px;
        right: 26px;
    }
}

.logo {
    position: relative;
    height: 50px;

    img {
        height: 100%;
        border-radius: 15px;
    }
}

.header {
    background-color: #283C4F;
    position: sticky;
    top: 0px;
    z-index: 10;
}

@media screen and (max-width: 639.98px) {
    .search-field, .search-field-box {
        width: 100%;
    }
}